* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
}

.first-task {
    margin-top: 15px;
}

.levels {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    margin: 15px auto;
}